<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /jelajah/

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /jelajah/index.html [L]
</IfModule>

Options -Indexes
